<%- partial('_partial/sidebar-toc', {post: page, index: false}) %>
<meta name="referrer" content="no-referrer" />
<main class="main" role="main">
  <%- partial('_partial/article', {post: page, index: false}) %>
</main>
